
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;
}

body{
background:#f4f6f8;
}

.app{
display:flex;
}

/* SIDEBAR */

.sidebar{
width:240px;
height:100vh;
background:white;
border-right:1px solid #e5e7eb;
padding:20px;
display:flex;
flex-direction:column;
}

.logo{
display:flex;
gap:10px;
margin-bottom:40px;
}

.menu a,
.logout a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-title{
font-weight:600;
}

.logo-sub{
font-size:12px;
color:#6b7280;
}

.menu{
list-style:none;
}

.menu li{
padding:12px;
border-radius:8px;
margin-bottom:8px;
cursor:pointer;
color:#374151;
}

.menu li i{
margin-right:8px;
}

.menu li.active{
background:#2b7de9;
color:white;
}

.logout{
margin-top:auto;
color:red;
cursor:pointer;
}