<div class="sidebar">

    <div class="logo">
        <div class="logo-icon">📊</div>
        <div>
            <div class="logo-title">EduVision AI</div>
            <div class="logo-sub">Phân tích hành vi người học</div>
        </div>
    </div>

    <ul class="menu">

        <li>
            <a href="/frontend/home.html">
                <i class="fa-solid fa-video"></i>
                Giám sát
            </a>
        </li>

        <li>
            <a href="/statistics">
                <i class="fa-solid fa-chart-column"></i>
                Thống kê
            </a>
        </li>

        <li>
            <a href="/history">
                <i class="fa-solid fa-clock-rotate-left"></i>
                Lịch sử
            </a>
        </li>

        <li class="active">
            <a href="/frontend/setting.html">
                <i class="fa-solid fa-gear"></i>
                Cài đặt
            </a>
        </li>

    </ul>

    <div class="logout">
        <a href="/logout">
            <i class="fa-solid fa-right-from-bracket"></i>
            Đăng xuất
        </a>
    </div>

</div>